.header {
    background: $bckgrnd-orange;
    margin-bottom: $m-size;
    padding: $m-size 0;
    border-radius: $m-size;
}

.header__title {
    color: white;
    font-size: $l-size;
    margin: 0;
    text-align: center;
}

.header__subtitle {
    color: white;
    font-size: $m-size;
    font-weight: 500;
    text-align: center;
    margin: 0;
}

@media print, screen and (max-width: 53rem) {
    .header__subtitle {
        font-size: $s-size;
    }
}